{% extends "site/base/index.html" %}

{% load static widget_tweaks %}

{% block title %}Update Commission{% endblock %}

{% block content %}
    <div class="ticket-data-wrapper">
        <div class="page-header">
            <h3>Update Commission</h3>
        </div>
        <form method="POST">
            {% csrf_token %}
            {% include "site/forms/vertical.html" %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Save Changes</button>
        </form>
    </div>
{% endblock %}