{% extends "site/base/index.html" %}

{% load static widget_tweaks %}

{% block title %}Details{% endblock %}

{% block content %}
    <div class="ticket-data-wrapper">
        <form method="GET" class="form-inline">
            <div class="form-group">
                {{ form.date_from|add_class:"form-control date"|attr:"placeholder:From Date"|attr:"autocomplete:off" }}
            </div>
            <div class="form-group">
                {{ form.date_to|add_class:"form-control date"|attr:"placeholder:To Date"|attr:"autocomplete:off" }}
            </div>
            <input type="submit" name="get_report" value="Get Report" class="btn btn-primary btn-block"/>
        </form>
        <hr>
        {% if show_results %}
            {% if object_list %}

                <table class="table table-bordered">
                    <tr>
                        <th>Ticket No.</th>
                        <th>Total Amount</th>
                        <th>Bets</th>
                        <th>Numbers</th>
                    </tr>
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object.number }}</td>
                            <td>${{ object.total_amount|floatformat:2 }}</td>
                            <td>
                                {% for play in object.ticket_plays.all %}
                                    <p>${{ play.amount|floatformat:2 }}</p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for play in object.ticket_plays.all %}
                                    <p>{{ play.number }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="alert alert-info">
                    No sales for chosen date.
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-info">
                Please select date for report.
            </div>
        {% endif %}
    </div>
{% endblock %}